<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107027965581-m4bfqhff2e9jg20ajspp62qsvv0lkdqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107027965581-m4bfqhff2e9jg20ajspp62qsvv0lkdqi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>107027965581-lkugjrcnggk8f2vu8oquonaqse2a9rj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrhbXfrL1FFPoSJduee_Bm3gwoaFdhaQM</string>
	<key>GCM_SENDER_ID</key>
	<string>107027965581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lime.tekmar</string>
	<key>PROJECT_ID</key>
	<string>alanyatekmar-52ade</string>
	<key>STORAGE_BUCKET</key>
	<string>alanyatekmar-52ade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107027965581:ios:662777cb457bbcb74864c4</string>
</dict>
</plist>